.game-sprint {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-sprint-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.score-and-mute {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.game-sprint-main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 15px 50px;
}
.game-sprint-main-content * {
  width: 100%;
}
.lamps,
.birds {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-speaker-btn,
.sprint-eng-word,
.sprint-rus-word {
  text-align: center;
  z-index: 2;
}

.choice-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lamp {
  width: 40px;
  fill: white;
}

.stick {
  position: absolute;
  transform: rotate(29deg);
  top: -4px;
  width: 270px;
  height: 150px;
}

.bird {
  z-index: 99;
}

.btn-to-select-group {
  font-size: 24px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  color: black;
}

.view-to-select-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 70%;
  text-align: center;
  background-color: rgb(25 226 253);
  padding: 15px 10px;
  box-shadow: 0 5px 10px 0px black;
  border-radius: 25px;
}

.btns-to-select-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}