.game-sprint {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
          linear-gradient(#78cfed 75%, rgba(255, 255, 255, 0)),
          linear-gradient(90deg, rgba(10, 255, 235), rgb(149, 2, 190));
}

.game-sprint:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.game-sprint:focus-visible {
  outline: none;
}

.game-sprint-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  align-items: center;
  padding: 5px;
}

.score-and-mute {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.game-sprint-main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 15px 50px;
}

.game-sprint-main-content * {
  width: 100%;
}

.timer {

}

.lamps,
.birds {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-speaker-btn,
.sprint-eng-word,
.sprint-rus-word {
  text-align: center;
  z-index: 2;
}

.choice-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lamp {
  width: 40px;
  fill: white;
}

.lamp-active {
  fill: yellow;
  animation: lamp-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: top;
  animation-timing-function: cubic-bezier(0.55, 0.06, 0.85, 0.33);
}

@keyframes lamp-animation {

  10% {
    transform: rotate(25deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

.stick {
  position: absolute;
  transform: rotate(29deg);
  top: -4px;
  width: 270px;
  height: 150px;
}

.bird {
  z-index: 99;
  transform: scale(0);
}

.bird-active {
  animation-name: bird-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bird-animation {

  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.25);
  }
  50% {
      transform: scale(0.5);
  }
  75% {
      transform: scale(0.75);
  }
  100% {
      transform: scale(1);
  }

}

.btn-to-select-group {
  font-size: 24px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  color: black;
}

.view-to-select-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 70%;
  text-align: center;
  background-color: rgb(25 226 253);
  padding: 15px 10px;
  box-shadow: 0 5px 10px 0 black;
  border-radius: 25px;
}

.btns-to-select-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.choice-btn {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 3px;
}

.choice-btn span {
  width: auto;
}

.choice-btn-wrong {
  background-color: red;
  border-color: brown;
}

.choice-btn-right {
  background-color: lime;
  border-color: rgb(1, 204, 68);
}

.mute-btn {
  background: none;
  border: none;
  width: 30px;
  fill: gray;
}

.mute-btn svg:hover {
  cursor: pointer;
  fill: darkgray;
}