/* ////////////  START  //////////// */
.section_start {
  height: 86vh;
  padding: 5rem 0;
}

/* ////////////  GAP  //////////// */
.gap {
  width: 100%;
  height:1rem;
  background: linear-gradient(67deg, rgb(149, 2, 190), rgb(10, 255, 235));
  background-size: 400% 400%;
  animation: background 5s ease infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes background {

  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }

}

/* ////////////  ABOUT  //////////// */
.section_about {
  padding: 5rem 0;
}

.about_title {
  text-align: center;
}

.title_text {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.title_underline {
  width: 9rem;
  height: 0.25rem;
  background: #035dab;
  margin-left: auto;
  margin-right: auto;
}

.main_slider {
  width: 85vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 4rem auto;
}

.slider_item {
  padding: 0 4rem;
}

.item_container {
  position: relative;
  border-radius: 0.25rem;
}

.container_img {
  height: 17vw;
  display: block;
  object-fit: cover;
  transition: all 0.3s linear;
  border: 4px solid #035dab;
  border-radius: 10% 40% / 50% 20%;
}

.item_title {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.about_btn {
  display: block;
  width: 210px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1200px) {

  .main_slider {
      width: 80vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      margin: 2rem auto;
  }
  .slider_item {
      padding: 2rem;
  }
  .container_img {
      height: 25vw;
  }

}

@media (max-width: 860px) {

  .main_slider {
      grid-template-columns: 1fr;;
  }
  .container_img {
      height: 35vw;
  }

}