/* ////////////  START  //////////// */
.section_start {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0;
  letter-spacing: 0.1rem;
}

.start_title {
  text-align: center;
}

.start_text {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.start_list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 2rem;
}

.start_list_item {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 1rem;
  background-color: rgba(50, 163, 255, 0.4);
  box-shadow: inset 4px 4px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #035dab;
}

.start_item_img {
  width: 8rem;
}

.start_item_title {
  margin: 0.8rem 0;
  font-size: 1.5rem;
}

.start_item_description {
  text-align: center;
}

/* ////////////  GAP  //////////// */
.gap {
  width: 100%;
  height:1rem;
  background: linear-gradient(67deg, rgb(149, 2, 190), rgb(10, 255, 235));
  background-size: 400% 400%;
  animation: background 5s ease infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes background {

  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }

}

/* ////////////  ABOUT  //////////// */
.section_about {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}

.title_text {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.title_underline {
  width: 9rem;
  height: 0.25rem;
  background: #035dab;
  margin: 0 auto;
}

.main_slider {
  width: 85vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 4rem auto;
}

.slider_item {
  padding: 0 4rem;
}

.item_container {
  position: relative;
  border-radius: 0.25rem;
}

.container_img {
  height: 17vw;
  display: block;
  object-fit: cover;
  transition: all 0.3s linear;
  border: 4px solid #035dab;
  border-radius: 10% 40% / 50% 20%;
}

.item_title {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.about_btn {
  display: block;
  width: 210px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1200px) {

  .main_slider {
      width: 80vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      margin: 2rem auto;
  }
  .slider_item {
      padding: 2rem;
  }
  .container_img {
      height: 25vw;
  }

}

@media (max-width: 1050px) {

  .start_list {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .start_list_item {
    width: 80%;
  }

}

@media (max-width: 860px) {

  .main_slider {
      grid-template-columns: 1fr;;
  }
  .container_img {
      height: 35vw;
  }

}