.game-audio-call {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(#78cfed 75%, rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(10, 255, 235), rgb(149, 2, 190));
}

.wrapper-game-audio-call{
  padding: 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.song-wrapper-call{
  display: flex;
  justify-content: center;
}

.wrapper-words-choise-call {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper-word-call {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.word-call-choise {
  border: 0.2rem solid #a46dff;
  border-radius: 1rem;
  padding: 0.4rem;
  letter-spacing: 0.1rem;
}

.word-call-choise:hover {
  cursor: pointer;
  background: floralwhite;
}

.wrapper-call-and-answer {
  display: flex;;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.answer-word-call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 100%;
  gap: 0.3rem;
}

.card-img-answer-call {
  width: 50%;
  height: 260px;
  background-repeat: round;
  background-size: cover;
  border: 2px solid black;
}

.answer-right-call-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-word-right-call-wrapper{
  display: flex;
  padding: 0 0.2rem;
}

.answer-word-right-call-wrapper * {
  padding: 0 0.2rem;
}

.speakerBtnCallAnswer{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background: none;
  fill: black;
}

.speakerBtnCall{
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  border: none;
  background: none;
  fill: aquamarine;
}

.speakerBtnCall:hover,
.speakerBtnCallAnswer:hover{
  fill: rgb(255, 255, 255);
}

 .next-word-call {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.next-words-wrapper{
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  border: 0.1rem;
  border-radius: 1rem;
}

.next-button-call-word{
  width: 100%;
  height: 100%;
}

.btn-to-select-group {
  font-size: 24px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  color: black;
}

.view-to-select-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 70%;
  text-align: center;
  background-color: rgb(25 226 253);
  padding: 15px 10px;
  box-shadow: 0 5px 10px 0 black;
  border-radius: 25px;
}

.select_group_title {
  font-size: 2rem;
}

.btns-to-select-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.call-hidden {
  display: none;
}

.right-answer-call {
  background: green;
}

.lose-answer-call {
  background: red;
}

.tablCallGray {
  width: 1rem;
  fill: gray;
  margin: 0.1rem;
}

.tablCallRight {
  width: 1rem;
  fill: greenyellow;
  margin: 0.1rem;
}

.tablCallWrong {
  width: 1rem;
  fill: red;
  margin: 0.1rem;
}

.wrapperSwitchVolumeAudioSignalCall{
  display: flex;
  margin-bottom: 2rem;
  justify-content: flex-end;
  height: 2rem;
}

.game_footer {
  background: linear-gradient(90deg, rgba(10, 255, 235), rgb(149, 2, 190));
}

.game_footer_link {
  color: #320259;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  text-shadow: 2px 2px 3px #ffffff;
}

.game_footer_link:hover {
  transform: scaleX(1.1);
}
