.game-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-layout-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.game-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.game-result {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  align-self: center;
  margin-top: 5%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.game-result-title {
  text-align: center;
  padding: 10px 5px;
}
.game-result-table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 5px;
}
.game-result-table-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 5px;
  height: 35px;
  align-items: center;
}