.themeToggle {
  border: 0;
  border-radius: 50%;
  margin: 0 1rem;
  background-color: rgb(255, 255, 255, 0);
  text-shadow: 2px 2px 3px #ffffff;
}

.theme_btn {
  width: 3rem;
  height: 3rem;
  padding: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.light:hover {
  background-color: #bfe2ff;
}

.dark:hover {
  background-color: #337ab7;
}

.dark_header,
.dark_footer{
  background: linear-gradient(67deg, rgb(19, 28, 150), rgb(9, 16, 86), rgb(58, 8, 79));
}

.dark_gap {
  background: linear-gradient(67deg, rgb(19, 28, 150), rgb(58, 8, 79));
  background-size: 400% 400%;
}

.dark_body,
.dark_modal_popup {
  background-color: #223c50;
  color: #bfe2ff;
}

.dark_nav {
  color: #bfe2ff;
  text-shadow: 2px 2px 3px #000000;
}

.dark_form_btn {
  color: #bfe2ff;
}

.dark_form_btn:hover {
  border-radius: 1rem;
  background-color: rgb(3, 93, 171, 0.4);
}